body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 5rem 2rem;
  background-color: gainsboro;

}
.container{
  text-align: center;
}
p, input, button{
  font-size: 1.2rem;
}